*{
  margin: 0;
  padding: 0;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');

nav  {
  width: 100%;
  height: 60px;
  align-items: center;
  display: flex;
  justify-content: space-around;
  background: #108dc7;
  background: #16A085; 
  background: -webkit-linear-gradient(to right, #F4D03F, #16A085); 
  background: linear-gradient(to right, #F4D03F, #16A085); 
}

.main-nav{
  flex-basis: 30%;
  color: rgb(230, 179, 103);
  list-style: none;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  text-shadow: 4px 4px 4px orangered;
  font-size:15px;
  font-style: italic;
  font-family: "Montserrat", sans-serif;
  display: flex; 
  justify-content: space-around;   
}

.logo{
  font-family: "Montserrat", sans-serif;
  text-shadow: 4px 4px 4px orangered;
  color: aquamarine;
  font-size: 30px;
  text-transform: capitalize;
  letter-spacing: 5px;
}

header{
  height: 60px;
}
.aboutBackgroungImage-container{
  background-image: url("https://images.pexels.com/photos/2218384/pexels-photo-2218384.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  min-width: 100%;
  height: calc(100vh - 60px);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}

.personalInfo-container{ 
  
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  border: rgb(190, 26, 39);
  border-radius: 20px;
  font-family: "Montserrat", sans-serif;
  display: flex;
  object-position: center;
  align-items: center; 
  flex-direction: column;
  justify-content: center; 
}  

.profile-image h3{
  color: darkcyan;
  text-shadow: 4px 4px 4px orangered;
}
.profile-container{
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.profile-title h1 {
  margin-bottom: 10px;
  color: darkcyan;
  text-shadow: 4px 4px 4px orangered;  
}
.profile-details p {
  margin-bottom: 10px;
  padding: 10px;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  color: aquamarine;
  text-align:justify;
  border: 1px solid rgb(33, 134, 79);
  border-radius: 10px;
}
.avatar{

  width: 200px;
  height: 180px;
  margin-top: 65px;
  border-radius: 10px;
  border: red 1px;
  justify-content: center;
 
}

.contact-links{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contact-icon{
  
  
  flex-basis: 10%;
}

.contact-icon img{
  margin: 30px;
  height: 50px;
  width: 50px;
  
}

.experience-backgroundimage{

  background-image: url("https://images.pexels.com/photos/1040157/pexels-photo-1040157.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  min-width: 100%;
  min-height: calc(100vh - 60px);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.experience-container{

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
 
  
}

.experience-details{
  
  padding: 20px;
  font-family: "Montserrat", sans-serif;
  color: aquamarine;
  border-radius: 10px;
  border: 1px solid rgb(33, 134, 79);
  text-align:justify;

}

.experience-details p{
 margin-top: 10px;
}

.skills-backgroundimage{
  background-image: url("http://www.zakgear.com/Hypoid1.gif");
  min-width: 100%;
  min-height: calc(100vh - 60px);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}

.icons-container{
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  align-items: justify;
  align-content: space-between;
}

.skills-img{
  width: 30%;
  height: 150px;
  margin: 30%;
  margin-top: 100px;
  
}

.contacts-backgoundImage{
  background-image: url("http://www.kimashi.com/img/contact.png");
  width: 100%;
  height: calc(100vh - 60px);
  background-size: cover;
  background-repeat: no-repeat;
  align-items: center;
}

.conact-form{

  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
  font-family: "Montserrat", sans-serif;
  color: aquamarine; 
}

.contact-page{
  
  margin-bottom: 30px;
  display: flex;
}

.contact-information{
  
  justify-content: center;
  align-items: center;
}







